* {
    margin: 0;
    padding: 0;
}

html,body {
    font-family: 'Arial', sans-serif;
    height: 100%;
}

.navbar {
    position: fixed;
    /* align-items: center; */
    /* justify-content: space-between; */
    overflow: hidden;
    background: rgba(255, 81, 0, 0.6); 
    background-blend-mode: darken;
    background-size: cover;
    color: white;
    padding: 10px 30px;
    width: 200px;
    height: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}

/* Show navbar when checked */
#menuToggle:checked ~ .menu-container {
    transform: translateX(0);
}

.menu-container {
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}

.nav-list {
    text-align: center;
    display: inline;
    list-style: none;
    line-height: 70px;
}

.nav-list li {
    margin-top: 0px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.nav-list li a:hover {
    color: #ffd700;
    /* Change the color on hover */
}

/* From Uiverse.io by JulanDeAlb */ 
.hamburger {
    cursor: pointer;
  }
  
  .hamburger input {
    display: none;
  }
  
  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }
  
  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  